.env
backend/.env
frontend/.env
.DS_Store

# Зависимости фронтенда
node_modules/
dist/
.next/
out/
build/

# Данные базы (чтобы не пушить гигабайты таблиц)
postgres_data/

# Бинарники Go (если вдруг скомпилируешь локально)
main
*.exe